
<div class= "form ">
<%= form_tag url_for(action: 'create'), method: "post" do %>

  <p><%= label_tag 'Titre' %></p>
  <%= text_field_tag 'title', @gossip.title %>
  <br /> <br />

  <p><%= label_tag 'Contenue' %></p>
  <%= text_area_tag 'content', @gossip.content %>
  <br /> <br />

  <%= submit_tag "Créer potin" %>
<% end %>
</div>
