<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipPojects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
      <%if current_user != nil%>
      <div class=nav justify-content-center>
        <h5>Bienvenue <%= current_user.first_name %></h5>
      </div>
      <li class="nav-item">
        <a class="btn btn-primary" <%= link_to "Accueil", welcome_index_path %></li>
      <li class="nav-create">
        <a class="btn btn-danger"  <%= link_to "Déconnexion", session_path(session.id), method: :delete %></li>
      <li class="nav-create">
      <%if current_user = nil%>
        <a class="btn btn-success"<%= link_to "Créer Utilisateur!", new_user_path %></li> 
      <%end%>
    </ul>
  </nav>
      <%else%>
  <div class="navbar-nav" >
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="btn btn-primary" <%= link_to "Home", index_index_path %></li>
        <li class="nav-item">
          <a class="btn btn-primary"  <%= link_to "Connexion", new_session_path %></li>
        <li class="nav-item">
          <a class="btn btn-primary"  <%= link_to "Inscription", new_user_path %></li>
      </ul>
    </nav>
  </div>
  <%end%>

  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
    <%= yield %>
  </body>
  
</html>
