<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipPojects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  </form>
</nav>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="btn btn-primary" <%= link_to "Home", index_index_path %></li>
        <li class="nav-item">
          <a class="btn btn-primary" <%= link_to "Bienvenue", welcome_index_path %></li>
        <li class="nav-item">
          <a class="btn btn-primary" <%= link_to "Team", team_path %></li>
        <li class="nav-item">
          <a class="btn btn-primary" <%= link_to "Contact", contact_path %></li>
        <li class="nav-create">
          <a class="btn btn-success"<%= link_to "Publier un potin !", new_gossip_path %></li>
  
        <!--li class="nav-item"-->
        <!--a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a-->
        <!--</li>-->
      </ul>
    </nav>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <%= yield %>
  </body>
  
</html>
