<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipPojects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-team">
    <a class="nav-link" href="/welcome">Bienvenue</a>
  </li>
  <li class="nav-team">
    <a class="nav-link" href="../team">Team</a>
  </li>
  <li class="nav-contact">
    <a class="nav-link" href="../contact">Contact</a>
  </li>

  <li class="nav-create">
    <a class="nav-link text-warning" href=./gossip/new" class="btn btn-outline-danger my-2 my-sm-0" role="button">Publier un potin !"</a>
  </li>
  
  <!--li class="nav-item"-->
    <!--a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a-->
  </li>
</ul>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
  
</html>
